
services:
  sync-databases:
    build: .
    container_name: notion-sync-databases
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    command: python -m automation.sync_databases

  sync-oi-issue-list:
    build: .
    container_name: notion-sync-oi-issue-list
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    command: python -m automation.sync_oi_issue_list

  update-business-state:
    build: .
    container_name: notion-update-business-state
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    command: python -m automation.update_business_state

  test:
    build: .
    container_name: notion-tests
    env_file:
      - .env
    volumes:
      - .:/app
    working_dir: /app
    command: /bin/sh -c "coverage run -m unittest discover -s tests -v && coverage html -d /app/htmlcov"
